@model IEnumerable<RestaurantFrontEnd.Library.API_Models.QueryResult>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>

    .test2 {
        margin-top: 5px;
        outline: none;
    }

    #map {
        margin-top: 10px;
        height: 300px;
        width: 100%;
        border-radius: 25px;
    }

    #overlay {
    }

    .rez {
        padding: 10px;
        width: 30%;
        background-color: rgba(216, 216, 216,0.8);
        border-radius: 25px;
        font-size: 15px;
        font-weight: bold;
    }

    .rez2 {
        padding: 10px;
        width: 30%;
        background-color: rgba(216, 216, 216,0.8);
        border-radius: 25px;
    }

    #output {
        font-size: 11px;
    }
</style>

@{
    string query = (string)ViewData["query"];
    //string faveresult = (string)ViewData["addedfave"];
}
@{
    string[] blacklist1 = (string[])TempData["blacklistcheck1"];
    string longid = "";
    List<string> blacklist2 = blacklist1.ToList();
}



@section query_string {
    
    
    <script type="text/javascript">
        var query = '@query';
        
        @foreach(var n in blacklist2 ){

            longid += n + "_";
        }
        var blackLister = '@longid';
        var blistarr = blackLister.split("_");
        
    </script>

}






<script src="~/js/site.js" asp-append-version="true"></script>
<script async deferer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCji7qavH8NTarPPbIyYNCtw7TJnmZHKr0&callback=initMap">
</script>


@{
    ViewData["Title"] = "Find A Restaurant";
}
<body>
    <div id="map"></div>
    <div id="overlay">


        <form asp-action="Index" method="get">
            <h3><b>Search for a Restaurant:</b></h3>
            <input class="text-center" id="restsrch" type="search" name="search">
            <button type="submit" class="test2">Submit</button>
        </form>
        <hr />
        <!--Keeping this around just in case-->
        @*<p>
            <a asp-action="Create">Create New</a>
        </p>*@

        @*@if (query != null && query != ""){}*@


        <!--<div id="map"></div>-->
        <div id="right-panel">
            <div id="output"></div>
        </div>
        <div class="loc"></div>





        @if (Model != null)
        {
            <h1>
                <b>Try These:</b><br />
                Based On Your Recent Searches<br />
            </h1>
            <br />

            List<string> restnames = new List<string>();
            List<string> KWs = new List<string>();
            string kwords = "";
            var counter = 0;

            foreach (var l in Model.Reverse())
            {
                if (counter < 3)
                {



                    KWs = new List<string>();
                    restnames = new List<string>();
                    kwords = "";

                    <h2>

                        @foreach (var q in l.QueryObject.Keywords)
                        {
                            if (!KWs.Contains(q))
                            {
                                KWs.Add(q);

                            }

                        }
                        @{kwords += KWs[0];
                            for (var i = 1; i < KWs.Count(); i++)
                            {
                                kwords += "/" + KWs[i];

                            }

                        }
                        <b>(@kwords)</b>
                    </h2>
                    <b style="color:red">DATE:</b> <p>@Html.DisplayFor(time => l.QueryObject.QueryTime)</p>

                    foreach (var n in l.Restaurants)
                    {
                       
                        if (!blacklist1.Contains(n.Id))//BLACKLIST CHECK    
                        {
                            @if (restnames.Count() < 3)
                            {
                                if (!restnames.Contains(n.Name))
                                {
                                    restnames.Add(n.Name);

                                    <div class="rez2 ">
                                        <h4><u>@Html.DisplayFor(restitem => n.Name)</u></h4>
                                        <p>@Html.DisplayFor(restitem => n.Address)</p>
                                        <p>price range:@Html.DisplayFor(restitem => n.PriceLevel)</p>
                                        <p>rating:@Html.DisplayFor(restitem => n.Rating)</p>
                                        <a href="https://maps.google.com/?q= @Html.DisplayFor(restitem => n.Name),@Html.DisplayFor(restitem => n.Address)" target='_blank'><button class='googlenav'>directions</button></a>
                                        <button class='googlenav' onclick="fave('@n.Id')"> add to faves</button><br />
                                        <button class='googlenav' onclick="blacklist('@n.Id')"> add to blacklist</button>
                                    </div><br /><br />
                                }
                            }

                        }



                    }


                }





                <br /><br />
                counter++;
            }



         }


        
    </div>
</body>



