@model IEnumerable<RestaurantFrontEnd.Library.API_Models.Restaurant>

@{
    ViewData["Title"] = "Faves";
}


<h2>Faves</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
   
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceLevel)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceLevel)
            </td>
            
            <td>
                <a href="@Url.Action("Delete", "Favorites")/@item.Id
                  "><button class='googlenav'>remove from faves</button></a>
                <a href="https://maps.google.com/?q= @Html.DisplayFor(modelItem => item.Name),@Html.DisplayFor(modelItem => item.Address)" target='_blank'><button class='googlenav'>directions</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
